<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsy5cmh93aBGXJRSeLrQuOtV9ag2sZjvc</string>
	<key>GCM_SENDER_ID</key>
	<string>368568880404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ZYK.example.mozz</string>
	<key>PROJECT_ID</key>
	<string>mozzchat-49da2</string>
	<key>STORAGE_BUCKET</key>
	<string>mozzchat-49da2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368568880404:ios:68d3780258ef0da0df0601</string>
</dict>
</plist>